<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />


    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/to-do-detail.css">


    <title>Node.js 教學</title>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="logo mt-1"> <a href="/welcome">{{ templateName }} 您好 !</a></div>
            </div>
            <div class="sidebar-content">
                <ul class="list-unstyled components">
                    <li>
                        <a href="#setting" data-toggle="collapse" aria-expanded="false"  class="dropdown-toggle">
                            <span class="icon-holder">
                                <i class="fas fa-sliders-h"></i> </span>
                            <span class="menu-title">設定</span>
                        </a>
                        
                        <ul class="collapse list-unstyled" id="setting">
                            <li>
                                <a href="/logout"> 登出 </a>
                            </li>
                        </ul>
                    </li>
    
                    <li>
                        <a href="#toDoList" data-toggle="collapse" aria-expanded="false"  class="dropdown-toggle">
                            <span class="icon-holder">
                                    <i class="fas fa-clipboard-list"></i></span>
                            <span class="menu-title">To Do List 系統</span>
                        </a>
                        
                        <ul class="collapse list-unstyled" id="toDoList">
                            <li>
                                <a href="/to-do-list/page"> 待辦事項 清單 </a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content-container">
            <div class="menu-header">
                <button type="button" id="sidebarCollapse" class="btn menu-btn m-1 text-white">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="m-2 p-2" style="overflow-y: scroll">
                <div class="box-s1">
                    
                    <div class="form-row d-flex justify-content-between border-bottom m-1">
                        <h3 class="ml-2" id="title-to-do-id">{{ to_do_id }} 細項</h3>
                        <div class="form-group col-md-3">
                            <label class="col-form-label">建立 / 修改 時間 :  
                                    <u id="de-created-time">{{ modified_time }}</u></label>
                        </div>
                    </div>


                    <div class="form-row mt-3">

                        <div class="form-group col-md-3 mx-3">
                            <label class="col-form-label">主題</label>
                            <input class="form-control" type="text"  id="subject" value="{{ subject }}"/>
                        </div>

                        <div class="form-group col-md-3 mx-3">
                            <label class="col-form-label" for="birthday">預定時間</label>
                            <div class="input-group" id="datetimepicker" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input"
                                    data-target="#datetimepicker" id="reservation-time"
                                    value="{{ reserved_time }}"
                                    />
                                <div class="input-group-append" data-target="#datetimepicker"
                                    data-toggle="datetimepicker">
                                    <div class="input-group-text btn-light">
                                        <i class="far fa-calendar-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-3 mx-3">
                            <label class="col-form-label">簡介 </label>
                            <input class="form-control" 
                                id="brief" value="{{brief}}"
                                oninput="if(value.length>50)value=value.slice(0,50)" 
                                type="text"  />
                        </div>
                        
                        <div class="form-group col-md-3 mx-3">
                            <label class="col-form-label">重要程度</label>
                            <div id="level" style="font-size: 1.5rem;" value="{{ level }}">
                                <i index=0 class="far fa-bell bell-icon"></i>
                                <i index=1 class="far fa-bell bell-icon"></i>
                                <i index=2 class="far fa-bell bell-icon"></i>
                                <i index=3 class="far fa-bell bell-icon"></i>
                                <i index=4 class="far fa-bell bell-icon"></i>
                                <i index=5 class="far fa-bell bell-icon"></i>
                                <i index=6 class="far fa-bell bell-icon"></i>
                                <i index=7 class="far fa-bell bell-icon"></i>
                                <i index=8 class="far fa-bell bell-icon"></i>
                                <i index=9 class="far fa-bell bell-icon"></i>
                            </div>
                            
                        </div>

                        <div class="form-group col-md-3 mx-3">
                            <label class="col-form-label">撰寫者</label>
                            <select class="form-control" id="author" value="{{author}}">
                                <option>傑夫</option>
                                <option>Leo</option>
                                <option>老K</option>
                                <option>阿麟</option>
                                <option>小筆</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row border-bottom mx-1">
                        <div class="form-group col-md-9 mx-2 mb-5">
                            <label class="col-form-label" >內容</label>
                            <textarea rows="10" class="form-control" name="mention24" 
                                data="{{ content }}"
                                id="content"></textarea>
                        </div>
                    </div>

                    <div class="form-row d-flex justify-content-center">
                        <div class="form-group col-md-3 mx-3 my-4">
                            <button type="button" style="width:5rem;" class="btn btn-primary mr-4" id="save-btn">儲存</button>
                            <a type="button" type="button" style="width:5rem;" class="btn btn-info mr-4 text-white"  href="/to-do-list/page" id="cancel-btn">取消</a>
                        </div>
                    </div>
                    
                </div>
                    
            </div>
        </div>
    </div>
    <input type="hidden" id="to-do-id" value={{ to_do_id }}>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
  
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Moment js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js" integrity="sha512-Izh34nqeeR7/nwthfeE0SI3c8uhFSnqxV0sI9TvTcXiFJkMd6fB644O64BRq2P/LA/+7eRvCw4GmLsXksyTHBg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/locale/zh-tw.min.js" integrity="sha512-teZ6dd0iHPCs4aUqFGC1OSUiT+pY6eqk5Jaa2sE7wqExKu3Tscsn1RYbEJWPWsqKYroeJ6jlkR2YdY3Em8eVRQ==" crossorigin="anonymous"></script>
   
    <!-- Datetime picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <script type="text/javascript" src="/js/to-do-detail-helper.js"></script>
    <script type="text/javascript" src="/js/to-do-detail.js"></script>


</body>

</html>