<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/layout.css" />

    <!-- socket -->
    <script src="/socket.io/socket.io.js"></script>

    <title>Node.js 教學</title>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="logo mt-1"> <a href="/welcome">{{ templateName }} 您好 !</a></div>
            </div>
            <div class="sidebar-content">
                <ul class="list-unstyled components">
                    <li>
                        <a href="#setting" data-toggle="collapse" aria-expanded="false"  class="dropdown-toggle">
                            <span class="icon-holder">
                                <i class="fas fa-sliders-h"></i> </span>
                            <span class="menu-title">設定</span>
                        </a>
                        
                        <ul class="collapse list-unstyled" id="setting">
                            <li>
                                <a href="/logout"> 登出 </a>
                            </li>
                        </ul>
                    </li>
    
                    <li>
                        <a href="#toDoList" data-toggle="collapse" aria-expanded="false"  class="dropdown-toggle">
                            <span class="icon-holder">
                                    <i class="fas fa-clipboard-list"></i></span>
                            <span class="menu-title">To Do List 系統</span>
                        </a>
                        
                        <ul class="collapse list-unstyled" id="toDoList">
                            <li>
                                <a href="/to-do-list/page"> 待辦事項 清單 </a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content-container">
            <div class="menu-header">
                <button type="button" id="sidebarCollapse" class="btn menu-btn m-1 text-white">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="m-2 p-2" style="overflow-y: scroll">
                <div class="box-s1">
                    <h5>待辦事項 清單</h5>
                    <div class="form-row mx-1">
                        <div class="form-group col-md-1">
                            <!-- <button type="button" class="" id="drama-select-btn">
                            </button> -->
                            <a href="/to-do-list/detail/create/page" class="btn btn-success px-4" role="button">新增</a>

                        </div>
                    </div>
                    <table class="table table-striped col-md-12 mx-2" id="to-do-list-table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">主題</th>
                                <th scope="col">時間</th>
                                <th scope="col">簡介</th>
                                <th scope="col">重要程度</th>
                                <th scope="col">撰寫人</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>


    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    
    <script type="text/javascript" src="/js/to-do-list.js"></script>
</body>

</html>